- content_for :javascripts do
  = include_javascript :mustache
  = include_javascript "http://maps.google.com/maps/api/js?sensor=false" 
  = include_javascript :fusion_library
  = include_javascript :open_city

  :javascript
    (function() {
      var us_centroid = new google.maps.LatLng(41.850033, -87.6500523);
      var tableId = "1wbmkAeFa-MYAwZ39FlgcesTJ8ti3e4oZfsrqesA"; // Open Data
      //var tableId = "1141224"
      var filters = [
        {"Service":  {columns: ["Type"],  type: "checkbox"}},
        
      ];

      map = new Fusion.Map("template_map", {center: us_centroid, zoom: 11, mapTypeControl: true});
      var layer2 = map.layers.create({select: "geometry", from: "1lqKXJ_V3yAm7XpsuVYD_UTXwvxHDf54GHzpYOMI"});
      var layer = map.layers.create({select: "geometry", from: tableId});
      
      map.present();

      filterPanel = new OpenCity.Template.FilterPanel(tableId, filters, {
        map: map, callbackObject: "filterPanel"
      });
      filterPanel.present();
    })(); 

.row-fluid
  #filters.span3

  #template_map.span9

